*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.context{
    padding: 1rem;
   
}
img{
    border-style: none;
    max-width: 100%;
    height: 100px;
}
ol.pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ol.pokemon > li{
padding:2rem 1rem;
margin: 0.5rem;
background-color:#48CFAF;
color: white;
border-radius: 1rem;
display: flex;
flex-direction: column;
}
